body{
	color: #101010;
	background: #d0d0d0;
	font-family: 'Droid Serif', serif;
	}
div#wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	background: darkgrey
}
#logo {
	width: 30%;
	height: 28%;
	float:left
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: arial;
	color: black;
	
}
p{
font-size: 1.0em
}
a:hover {
}
ul li {
	list-style-type: none;
}
div#header {height: 100px;}
h1#logo{
	font-family: 'Merienda', cursive;
	font-size:2.5em;
	text-shadow:6px 6px 6px #d8d8d8;
	margin: 0;
	float: left;
}
ul#topnav {
	margin-right: 5%;
	width:40%;
	float: right;
}
ul#topnav li{
	display: inline;
	
}
ul#topnav li a {
	color: black;
	padding: 3%;	
}
ul#topnav li a:hover{
	color: white;
	background: black;
}

div#details {
	margin:0 auto;
}
div#why{
	-moz-column-count: 3;	
}
div#gallery {
	height: 500px;
	
}
ul#galleryimages{
	border: thin solid black;
	width: 45%;
	
}
ul#galleryimages li {
}
ul#galleryimages li img {
	width:200px;
	height:214px;
	float: left;
	margin: 4px;
}
ul#galleryimages li img:hover {
-moz-box-shadow:    3px 3px 5px 6px blue;
  -webkit-box-shadow: 3px 3px 5px 6px blue;
  box-shadow:         3px 3px 5px 6px blue;
}


/* for 980px or less */
@media screen and (max-width: 980px) {
		div#wrapper {
	width: 95%;
	margin: 0 auto;
	padding: 10px;
	background: grey;
	
}
}


/* for 700px or less */
@media screen and (max-width: 700px) {

	div#wrapper {
	width: 98%;
	margin: 0 auto;
	padding: 10px;
	background: green; 
	}
	
	h1#logo{
	font-family: 'Merienda', cursive;
	font-size:20px;
	text-shadow:3px 3px 3px #d8d8d8;
	margin: 0;
	float: left;
	}	
 
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	div#wrapper {
	width: 98%;
	margin: 0 auto;
	padding: 10px;
	background: none; 
	}
	
	h1#logo{
	font-family: 'Merienda', cursive;
	font-size:20px;
	margin: 0;
	float: left;
	}	
  div#why{
	-moz-column-count: 2;	
}
	
}

/* for 320px or less */
@media screen and (max-width: 320px) {

	div#wrapper {
	width: 98%;
	margin: 0 auto;
	padding: 10px;
	background: none; 
	}
	
	h1#logo{
	font-family: 'Merienda', cursive;
	font-size:20px;
	margin: 0;
	float: left;
	}	
  #barn {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
	ul#galleryimages li img {
	width:20px;
	height:20px;
	float: left;
	margin: 2px;
}
p{
font-size: .7em
}
li{
font-size: .7em
}
div#why{
	-moz-column-count: 1;	
}
ul#topnav {
	margin: 0;
	clear: both;
}
ul#topnav li{
	display: block;
	
}
h2{
font-size:70%;}
}

	
	